body{
  margin:0;
  text-align:center;
  font-size: 140%;
  font-family: "Merriweather", sans-serif;
}
h1{
  margin:0 auto 0 auto;
  color: #fdb827;
  font-family: "Times", cursive;
}
h2{
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
}
h3{
  font-family: "Montserrat", sans-serif;
  margin:0;
}
#aProgrammer{
  margin:0;
    color: limegreen;
    font-size: 30px;
  font-family: "Times", cursive;
}

.top-container{
  background-color: blue;
  position:relative; /*we want the clouds to be relative to their parent, so instead of putting them relative to the body we put them relative to thei r div container*/
  padding-top:70px;
}
.bottom-container{
  margin:0;
  font-size: 65%;
}

.profile{
  margin-bottom: 0;
    background-color:#E4F9F5;
}
.education-row{
  margin-top: 10px;
}
.education{
  background-color:#E4F9F5;
}
.skills{
  background-color:#E4F9F5;
}
.myHobbies{
  background-color:#E4F9F5;
}
.hobbies-row{
  margin-top: 10px;
}
.contact-me{
  margin:0;
  background-color:#f4f4f4;
  font-size: 70%;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  left:60%;
  top:5px;
  bottom: 10px;
  animation-timing-function: ease;
  position: absolute;
  animation: mymoveTop 4.5s;
}
.bottom-cloud{
  right:60%;
  top:200px;
  animation-timing-function: ease;
  position:absolute;
  animation: mymoveBottom 4.5s ;
}

@keyframes mymoveTop {
  from {left: 0;}
  to {left: 60%;}
}
@keyframes mymoveBottom {
  from {right: 0;}
  to {right: 60%;}
}

.firstImage{
  width: 190px;
  height: 220px;
  border-radius: 100%;
  padding-top: 30px;
}
.secondImage{
  height: 110px;
}
.thirdImage{
  height: 100px;
}
.fourthImage{
  height: 100px;
}
