body{
  margin:0;
  text-align:center;
  font-family: "Merriweather", sans-serif;
}
h1{
  margin:0 auto 0 auto;
  font-family: "Sacramento", cursive;
}
h2{
  font-family: "Montserrat", sans-serif;
}
h3{
  font-family: "Montserrat", sans-serif;
  margin:0;
}


.top-container{
  background-color:#E4F9F5;
  position:relative; /*we want the clouds to be relative to their parent, so instead of putting them relative to the body we put them relative to thei r div container*/
  padding-top:100px;
}
.bottom-container{
  margin:0;
}


.profile{
  margin-bottom: 40px;
}
.education-row{
  margin-top: 10px;
}
.hobbies-row{
  margin-top: 10px;
}
.contact-me{
  margin:0;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  left:60%;
  top:5px;
  animation-timing-function: ease;
  position: absolute;
  animation: mymoveTop 3.5s;
}
.bottom-cloud{
  right:60%;
  top:200px;
  position:absolute;
  animation: mymoveBottom 3.5s ;
}

@keyframes mymoveTop {
  from {left: 0;}
  to {left: 60%;}
}
@keyframes mymoveBottom {
  from {right: 0;}
  to {right: 60%;}
}

.firstImage{
  width: 190px;
  height: 220px;
  border-radius: 100%;
  padding-top: 30px;
}
.secondImage{
  height: 110px;
}
.thirdImage{
  height: 100px;
}
.fourthImage{
  height: 100px;
}
